.w3-main.menu-impact{
	margin-left:300px;
}
.w3-main{
	margin-top:80px;
}


.w3-main .w3-container{
	margin-bottom: 20px;
}

/*menu icon*/

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*end menu icon*/

.main-body{
	max-width: 1400px;
}

.nav-menu{
	width: 290px;
}
.menu-over{
	z-index: 10;
}
.menu-mobile-header{
    overflow: hidden;
    width: 380px!important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu-background{
	background: black;
	height: inherit;
	color:white;
	z-index:10;
	width:inherit;
}


@media (min-width: 993px){
	.w3-sidebar.w3-collapse {
	    display: block!important;
	}
	.no-mobile-menu-header{
		display: block;
	}

	#sidebar{
		display: block!important;
		left:0%;
	}
	.nav-menu{
		position: relative;
	}
	.menu-bar-button{
		position: fixed;
		display: block;
    	left: 300px;
    	top:0px;
    	outline: none!important;
    	height: 68px;
    	transform: scale(0.7);
	}
}
@media (max-width: 993px){
	.no-mobile-menu-header{
		visibility: hidden;
	}

	.nav-menu{
    	width: 100%;
	}

	#sidebar{
		display: block!important;
		left:-100%;
	}
	.menu-bar-button{
		display: block;
	}
}