<div id="{*id*}" class="w3-container code-box">
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
            <h3>{*header*}</h3>
        </header>

        <div class="w3-container code-reader">
            <pre>
                <code>
{*codeString*}
                </code>
            </pre>
        </div>

        <div class="w3-bar w3-padding test-container">
            <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" placeholder="Input">
            <button class="w3-bar-item w3-button w3-green w3-mobile">Check</button>
            <span class="w3-bar-item">Result :</span>
            <span class="w3-bar-item result"></span>
        </div>

        <footer class="w3-container w3-blue">
            <h5>#beginsmartjs</h5>
        </footer>
    </div>
</div>